Software/BasicRs485Driver/RS485_GUI.json
[
    {
        "id": "2b686e2b7e4f341d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "70871d04ed4d2f53",
        "type": "serial in",
        "z": "2b686e2b7e4f341d",
        "name": "",
        "serial": "34c16a15655f96a9",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "82365cf4842ed489"
            ]
        ]
    },
    {
        "id": "6a919f2b8cef826c",
        "type": "serial out",
        "z": "2b686e2b7e4f341d",
        "name": "",
        "serial": "34c16a15655f96a9",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "1066561b96922940",
        "type": "inject",
        "z": "2b686e2b7e4f341d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "led=1",
        "payloadType": "str",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "6a919f2b8cef826c"
            ]
        ]
    },
    {
        "id": "82365cf4842ed489",
        "type": "debug",
        "z": "2b686e2b7e4f341d",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 380,
        "wires": []
    },
    {
        "id": "2e65649875fd3420",
        "type": "inject",
        "z": "2b686e2b7e4f341d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "led=0",
        "payloadType": "str",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "6a919f2b8cef826c"
            ]
        ]
    },
    {
        "id": "ba7b3cc41b152888",
        "type": "ui_switch",
        "z": "2b686e2b7e4f341d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "31538b0958315b14",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "led=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "6a919f2b8cef826c"
            ]
        ]
    },
    {
        "id": "34c16a15655f96a9",
        "type": "serial-port",
        "name": "",
        "serialport": "COM6",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "500",
        "bin": "false",
        "out": "time",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "31538b0958315b14",
        "type": "ui_group",
        "name": "NICLA RS485 Carrier",
        "tab": "ce4ce591c42f5215",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce4ce591c42f5215",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]